@import "menu.css";
@import "screen-intro.css";
@import "screen-import.css";

:root {
    --blue: #1c1a9a;
}

body {
    font-smooth: never;
    -webkit-font-smoothing: never;
    
    background-color: var(--blue);
    margin: 0;
    overflow-x: hidden;
    font-size: 0;
    overflow-y: hidden;
    touch-action: none;
    font-family: 'Press Start 2P';
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

#canvas-holder {
    width: 100%;
    height: 100vh;
    padding-top: 37px;
}

#canvas-holder canvas {
    position: absolute;
}

#actions {
    position: absolute;
    bottom: 10px;
    width: 244px;
}

#coords {
    position: absolute;
    color: white;
    bottom: 5px;
    left: 5px;
    z-index: 50;
    font-size: 16px;
    width: 280px;
    line-height: 20px;
}

#sidebar {
    background-color: #1c1a9a;
    position: absolute;
    width: 280px;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 5;
    border-left: solid 5px #000000;
    font-size: 12px;
    color: white;
    padding: 57px 20px 0;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    line-height: 24px;
    min-height: 662px;
}

@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
}

#sidebar .sec-title {
    font-size: 16px;
    margin-bottom: 20px;
}

#sidebar .title {
    font-size: 18px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    margin-top: 0px;
    
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-bottom: 20px;
}

#sidebar #minimap {
    margin: 0 auto 20px;
    width: 235px;
    height: 150px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    position: absolute;
    bottom: 95px;
    left: 21px;
}
#sidebar #minimap canvas {
    position: absolute;
}
#sidebar #species .specie {
    margin-bottom: 16px;
}

#sidebar #species .specie .bar {
    height: 8px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

#specieList {
    height: 260px;
    overflow-y: auto;
}

#loading-overlay {
    display: none;
    z-index: 200;
    color: white;
    cursor: wait;
    font-size: 16px;
}

#game-history {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

#game-history .box {
    margin-top: 20vh;
}
#game-history .box h2 {
    margin-top: 0;
    text-align: left;
}

#game-history #population-chart-holder {
    -webkit-box-shadow: 0 0 0 5px, 8px 8px 0 4px black;
    -moz-box-shadow: 0 0 0 5px, 8px 8px 0 4px black;
    box-shadow: 0 0 0 5px, 8px 8px 0 4px black;
    color: #bbbbbb;
    border: solid 2px black;
}
#game-history #population-chart {
}

#game-history .box text {
    /*font-family: 'Press Start 2P';*/
    /*font-style: normal;*/
    /*color: white;
    //text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    //fill: white;*/
}

/* some base components */
.box {
    width: auto;
    padding: 30px;
    border: 2px solid #000000;
    -webkit-box-shadow: 0 0 0 5px, 8px 8px 0 4px black;
    -moz-box-shadow: 0 0 0 5px, 8px 8px 0 4px black;
    box-shadow: 0 0 0 5px, 8px 8px 0 4px black;
    font-size: 0px;
    background-color: #0000c1;
    color: #bbbbbb;
}

.box .box-content {
    color: white;
    text-align: center;
}
.box .box-content h1 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 0px;
    
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}
.box .box-content h2 {
    font-size: 20px;
    margin-bottom: 30px;
    
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.box .box-content p {
    font-size: 14px;
    
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}
.box .box-content a {
    font-size: 14px;
    line-height: 24px;
    
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
.box .box-content a span {
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
}

.box .box-content a.btn {
    text-shadow: none;
}

.box .box-content .box-btn {
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    padding: 20px;
}

.box .box-content .box-btn .img-holder {
    display: block;
    font-size: 0;
    margin-bottom: 22px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.pixel-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../img/pixel.gif');
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    image-rendering: pixelated;
    background-size: 2px;
}

.fullscreen-content {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}



.btn {
    background-color: #0400ff;
    color: white;
    border: none;
    font-family: 'Press Start 2P';
    padding: 10px 10px;
    font-size: 12px;
    margin: 8px 4px;
    float: right;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.btn.danger {
    background-color: #F44336;
}

.btn.green {
    background-color: #53da27;
}


textarea.box {
    outline: 0;
    color: white !important;
    line-height: 24px;
    font-family: 'Press Start 2P';
    font-size: 14px;
    text-shadow: 3px 3px 0 black;
    width: 100%;
    height: 30vh;
    background-image: url('../img/pixel.gif');
    padding: 15px;
}